<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Endereco</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src='main.js'></script>
</head>

<body class="bg-primary">

        <div class="container my-5" style="width: 40rem;">
            <div class="card mt-2 mb-2">
                <div class="card-body ">
                    <h5>Resultado Cep</h5>
                    <hr />
                    <p><b>Rua:</b>
                        <%=dado.logradouro %>
                    </p>
                    <p><b>Bairro:</b> <%=dado.bairro %>
                    </p>
                    <p><b>Cidade:</b> <%=dado.localidade %>
                    </p>
                    <p><b>Estado:</b> <%=dado.uf %>
                    </p>

                </div>
            </div>
            <a href="/" class="btn btn-outline-dark">Procurar outro endereço</a>
        </div>
        


</body>

</html>