<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Doguin</title>
</head>
<body class="bg-warning">
    <div class="container" style="width: 40rem;">
        <div class="card mt-5">
            <div class="card-body" >
                <h5>Aqui está a imagem do Dog que foi selecionado...</h5>

                <hr />
                <img src="<%= dado.message %>" class="card-img-top" alt="...">

            </div>
        </div>
        <a href="/" class="btn btn-outline-dark">Procurar outro Dog</a>
    </div>
</body>
</html>